<!-- para indicar que a pagaina possui arquivos estaticos -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecto Space</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
         <!-- CSS only -->
    <link rel="stylesheet" href="{% static '/styles/style.css'%}">
</head>

<body>
    <!-- para inserir o conteudo do documento -->
    {% include 'partials/_header.html'%}
    {% block content %}
   
    {% endblock %}
   

    <!-- includ partials do footer -->
    {% include 'partials/_footer.html'%}

</body>
</html>